body {
  margin: 0px;
  padding: 0px;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #141414;
  background-color: #fefefe;
}

/* nav bar styling */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fefefe;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 999;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu a {
  text-decoration: none;
  color: #141414;
}

.nav-menu a:hover {
  font-weight: 800;
}

.nav-item {
  display: inline;
  padding-inline-end: 4rem;
  font-weight: 250;
}

.navbar button {
  justify-self: right;
  align-self: right;
}

.hamburger {
  display: none;
}
/* end nav bar styling */

/* page styling */
p {
  font-size: 1.1rem;
  word-wrap: normal;
  line-height: 135%;
}

br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 0; /* change this to whatever height you want it */
}

h1 {
  font-size: 3rem;
  word-wrap: normal;
  font-weight: 550;
  font-family: "DM Serif Display";
}

.container {
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Left horizontal alignment */
  align-items: left; /* Center vertical alignment */
  height: 100vh; /* Take up full viewport height */
}

.section {
  width: auto;
  padding-right: 5rem;
  text-align: left;
}

.landing-section {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.landing-container {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center; /* Center vertical alignment */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.landing-img {
  height: 15rem;
}

li {
  list-style: none;
}

a {
  text-decoration: underline;
  color: #141414;
}

a:hover {
  font-weight: 700;
}

a i {
  color: #141414;
}

/* end page styling */

/* animations*/
.reveal {
  position: relative;
  transform: translateY(90px);
  opacity: 0.2;
  transition: 0.9s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.fade {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* end animation */

/* responsive */
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 2.5rem;
    flex-direction: column;
    background-color: #fefefe;
    width: 100vw;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    padding: 0;
    z-index: 9999;
  }

  .nav-menu.active {
    left: 0;
  }

  .hidden-mobile {
    display: none;
  }

  .nav-item {
    margin: 1rem 0;
    font-size: 2rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding: 1rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  section {
    padding: 1rem;
  }

  .landing-container {
    flex-direction: column;
  }

}

